
<!doctype html>
<html lang="eng">

<head>
	
	<title>Admin Log in - Dossier</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" type="type/css" href="{{url_for('static',filename='fontawesome/js/all.min.js')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/animate.min.css')}}">
	<link rel="stylesheet" type="type/css" href="{{url_for('static', filename='css/carousel.css')}}">
	<style type="text/css">
  body {
        background-color: black;    
}



	/* body{
		background-color: white;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 16px;
	} */
	a:hover{
		background-color: rgb(51, 48, 48);
		
	}

	.navbar{
		position: fixed;
		top: 0;
		width: 100%;
	}

	</style>

</head>
<body>
<header>
<div class="container-fluid">
<div class="row">
<nav class="navbar navbar-expand-md" style="background-color: rgb(4, 4, 121);">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <li class="navbar-brand text-white">ADMIN AREA</li>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
			{% if session['admin']: %}
			<a class="nav-link active text-white" aria-current="page" href="/admindashboard">DASHBORD</a>
			{% else %}
	        <a class="nav-link active text-white" aria-current="page" href="#" onclick="return alert('please login')">DASHBORD</a>
			{% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</header>
<main>
	<div class="container-fluid mt-5">
		<div class="row pt-5 justify-content-center"> 
			<div class="col-md-9 p-5 rounded-2" style="background-color: rgb(235, 235, 235);">
			<div class="row">
				<div class="col-md border border-dark rounded-2 pt-4" style="overflow: scroll; background-color: rgb(224, 224, 224); height: 380px;">
					<h6 class="text-center"> PLEASE TAKE NOTE OF THE FOLLOWING</h6><hr>
						<small>
							<ul>
								<li>It is important that an admit visit the dashboard at every point in time to check and update the reports available in the dashboard.</li>
								<li> Ensure to communicate with the necessary office if there is need to.</li> 
								<li>Take note of each report that is being submitted before approving</li>
								<li>Contact the HR office if report is need for physical attention of a staff</li>
							</ul>
						</small>
						<small>Please register <b><a style="font-style: italic; text-decoration: none; color: black;" href="/adminregister" >HERE</a></b> if you don't have an accout yet. Note that this is mandatory for all the staffs </small>
				</div>
					<div class="col-md rounded-2 pt-5 px-5" style="background-color: black;  height: 380px; color: white;">
						 <main class="form-signin" id="signUpForm">
                            <form method="post" action="">
								<input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                                <h1 class="mb-5 fs-5 text-center">Admin Login</h1>
									{% with msg = get_flashed_messages(with_categories = True) %} {% if msg: %}
                                    {% for cat,m in msg: %} {% if cat == 'error': %} <div class="badge bg-danger mb-4 text-center">{{ m|safe}}</div> 
									{% elif cat == 'success': %} <div class="badge bg-success mb-4  text-center">{{ m|safe}}</div>
                                    {% else: %} <div class="badge bg-warning mb-4  text-center">{{ m|safe}}</div> {% endif %}
                                    {% endfor %} {% endif %}
                                    		{% endwith %}
                                <div class="form-floating text-dark">
                                    <input type="email" name="email" class="form-control mb-1" style="color: black; height:50px;" id="floatingMail" placeholder="name@example.com" required>
                                <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating text-dark">
                                    <input type="password" name="pwd" class="form-control mb-1" style="height:50px;" id="password" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
								<div class="row text-light">
									<div class="col-md">
										<input type="checkbox" id="showPassword">
										<label for="showPassword">show password</label>
									</div>
									<div class="col-md d-flex justify-content-end">
										<a href="{{url_for('adminforgot')}}" class="text-light">forgot password?</a>
									</div>
								</div>
                                  {% if session['admin']: %}
                                <a class="btn btn-outline-light offset-4 mt-3 col-4" type="button" href="/adminlogout" onclick="return confirm('A User is logged in, do you want to sign out existing user and sign in? Click okay to continue')">Login</a>
                                  {% else%}
                                <button class="btn btn-outline-light offset-4 mt-3 col-4" type="submit" href="#">Login</button>
                                {% endif %}
                            </form>
                        </main>
					</div>
			</div>
			</div>
		</div>
	</div>
</main>
<div class="row mt-5" >
<footer class="footer mt-auto py-3 bg-dark text-center" style="position: fixed; left: 0px; bottom: 0px;">
<div class="container">
<span class="text-white"> DOSSIER | SevenLives Inc. &copy;2022</span>
	</div>
</footer>	

<!--<script src = "main.js" type="text/javascript"></script>-->
<script src="{{url_for('static', filename='jquery.min.js')}}" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">
	$(document).ready(function(){
		$('#password').attr('type', 'password')
		$('#showPassword').click(function(){
			if($(this).is(':checked')){
				$('#password').attr('type', 'text')
			}else{
				$('#password').attr('type', 'password')
			}
		})
	})
</script>
</body>
</html>					
